<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="StoreRestService.StoreRestService">
        <endpoint address="http://localhost:8701/StoreRestService/" behaviorConfiguration="RestBehavior"
          binding="webHttpBinding" name="RestEndpoint" contract="StoreRestService.IStoreRestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="RestBehavior2">
          <webHttp/>
        </behavior>
      </endpointBehaviors> 
    </behaviors>
    <client>
      <endpoint address="http://localhost:8701/PrinterRestService/" behaviorConfiguration="RestBehavior2" binding="webHttpBinding" contract="PrinterRestService.IPrinterRestService" name="RestEndpoint2"/>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>