<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="RestBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <client>
        <endpoint address="http://localhost:8701/StoreRestService/" behaviorConfiguration="RestBehavior" binding="webHttpBinding" contract="StoreRestService.IStoreRestService" name="RestEndpoint"/>
      </client>
    </system.serviceModel>
  </configuration>
