<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="PrinterRestService.PrinterRestService">
        <endpoint address="http://localhost:8701/PrinterRestService/" behaviorConfiguration="RestBehavior"
          binding="webHttpBinding" name="RestEndpoint" contract="PrinterRestService.IPrinterRestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
